<div class="row">

    <div class="well col-xs-12">
        <form class="form-search">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="info" class="control-label col-xs-12">Изберете дестинација</label>
                    <input type="text" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model="fromCity" class="input-medium search-query form-control" placeholder="Од"><br/>
                    <input type="text" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model="toCity" class="input-medium search-query form-control" placeholder="До">
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label for="info" class="control-label col-xs-12">Изберете превоз</label>

                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="radio" id="bus" name="sample"/>
                            <i class="fa fa-bus fa-2x"></i>
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" id="train" name="sample"/>
                            <i class="fa fa-train fa-2x"></i>
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" id="taxi" name="sample"/>
                            <i class="fa fa-taxi fa-2x"></i>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Од</th>
                    <th>До</th>
                    <th>Тргнува во</th>
                    <th>Пристигнува во</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Скопје</td>
                    <td>Гевгелија</td>
                    <td>15:00</td>
                    <td>17:00</td>
                    <td><a href="">Повеќе информации</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
        
        